:root {
	/* CSS HEX */
	--licorice: #191516ff;
	--columbia-blue: #6eabd7;
	--zaffre: #022754;
	--melon: #e0afa0ff;
	--honeydew: #c0d5e8;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-image: url("../images/aestetic.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

/* CREATE FORM - START */
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

.menu-settings {
	display: flex;
	margin: 10px;
	width: 10 0%;
	flex-direction: row;
	justify-content: flex-start;
	border-bottom: 2px solid var(--columbia-blue);
}

.menu-button-settings {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-style: var(--honeydew);
	color: var(--zaffre);
	padding: 15px;
	border-radius: 10%;
	text-decoration: none;
}

main {
	width: 80%;
	background: white;
	padding: 20px;
	color: var(--zaffre);
	border-radius: 50px;
	background-color: hsla(0, 0%, 100%, 0.667);
}

.account-settings {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	width: calc(100% - 40px);
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="month"],
.form-category {
	width: 200px;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.form-category {
	width: auto;
	overflow-y: scroll;
	max-height: 50px;
}

input[type="file"] {
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.input-description {
	width: calc(100% - 40px);
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.create-form-button {
	background-color: var(--zaffre);
	color: var(--honeydew);
	padding: 15px 30px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 20px;
	height: auto;
	margin: 20px;
}

.create-form-button > a {
	text-decoration: none;
	color: var(--honeydew);
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.form-group-row {
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

.submit-error {
	color: red;
	font-size: 12;
	margin-bottom: 5px;
	display: none;
}

/* CREATE FORM - END */

@media screen and (max-width: 1024px) {
	.card-container,
	.content-container {
		max-width: 1024px;
		margin: auto;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 2rem;
		height: auto;
	}

	.validation-section {
		width: 100%;
		height: 70%;
	}

	.validation-cards-container {
		height: 70%;
	}

	.validation-cards-wrapper {
		height: 70%;
		position: relative;
		flex: 0 0 auto;
		background-color: #fff;
		border-radius: 8px;
		margin: 10px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.validation-card {
		height: 70%;
		display: flex;
		flex-direction: column;
	}

	.validation-details {
		margin: 10px;
		padding: 10px;
	}

	.create-form-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 30%;
		width: 50%;
	}
}
